<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
	
	<title>{{statusCode}}</title>

	<link rel="shortcut icon" type="image/x-icon" href="/dashboard/resources/favicon.ico">

	<style>
		body {
			font-family: 'Open Sans', Arial;
			margin: 0;
		}

		.z-errorPage__site {
			height: 100vh;
			width: 100vw;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
		}

		.z-errorPage__wrapper {
			margin-bottom: 4rem;
			padding: 2rem;
			user-select: none;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.z-errorPage__wrapper h1 {
			font-size: 19rem;
			margin: 0;
			line-height: 14rem;
			text-align: center;
		}

		.z-errorPage__wrapper p {
			font-size: 5rem;
			font-weight: 300;
			margin: 0;
			text-align: center;
			margin-top: 3rem;
		}

		.z-errorPage__buttons {
			margin-top: 3rem;
		}
		.z-errorPage__buttons .v-errorPage__btn:first-child {
			margin-right: 2rem;
		}

		.v-errorPage__btn {
			position: relative;
			display: inline-block;
			margin: 0;
			min-width: 5rem;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			background-color: #cacaca;
			border: 1px solid #cacaca;
			border-radius: 1px;
			transition: background-color .25s ease-out, color .25s ease-out, border .25s ease-out;
			outline: 0;
			vertical-align: baseline;
			text-align: center;
			font-family: "Open Sans", Arial, sans-serif;
			font-weight: 400;
			text-decoration: none;
			color: #272727;
			letter-spacing: .3px;
			white-space: nowrap;
			height: auto;
			padding: .5rem 1.25rem;
			font-size: 1.375rem;
			line-height: 1.575rem;
		}

		.v-errorPage__btn:hover,
		.v-errorPage__btn:focus,
		.v-errorPage__btn:active {
			outline: 0;
			text-decoration: none;
			background-color: #b8b8b8;
			border-color: #b8b8b8;
			color: #272727;
		}

		.v-errorPage__btn--primary {
			background-color: #ff3b00;
			border-color: #ff3b00;
			color: #fefefe;
		}

		.v-errorPage__btn--primary:hover,
		.v-errorPage__btn--primary:focus,
		.v-errorPage__btn--primary:active {
			background-color: #dd3400;
			border-color: #dd3400;
			color: #fefefe;
		}

		.v-errorPage__btn--secondary {
			background-color: #fefefe !important;
			border-color: #333;
			color: #333;
		}

		.v-errorPage__btn--secondary:hover,
		.v-errorPage__btn--secondary:focus,
		.v-errorPage__btn--secondary:active {
			background-color: #333 !important;
			border-color: #333 !important;
			color: #fefefe;
		}
	</style>
</head>

<body>
	<div class="z-errorPage__site">
		<div class="z-errorPage__wrapper">
			<h1>{{statusCode}}</h1>
			<p>{{statusText}}</p>

			<div class="z-errorPage__buttons">
				<a href="javascript:location.reload();" class="v-errorPage__btn v-errorPage__btn--primary">Nochmal versuchen</a>
				<!-- <a href="/home" class="v-errorPage__btn v-errorPage__btn--primary">Home</a> -->
			</div>
		</div>
	</div>
</body>

</html>